<div class="mainBox">
  <!-- Textbox -->
  <input type="text" id="outputResult" readonly="true">

  <!-- Numbers -->
  <button (click)="clickNumber(0)" id="zero">0</button>
  <button (click)="clickNumber(1)" id="one">1</button>
  <button (click)="clickNumber(2)" id="two">2</button>
  <button (click)="clickNumber(3)" id="three">3</button>
  <button (click)="clickNumber(4)" id="four">4</button>
  <button (click)="clickNumber(5)" id="five">5</button>
  <button (click)="clickNumber(6)" id="six">6</button>
  <button (click)="clickNumber(7)" id="seven">7</button>
  <button (click)="clickNumber(8)" id="eight">8</button>
  <button (click)="clickNumber(9)" id="nine">9</button>

  <!-- Symbols -->
  <button (click)="clickSymbol('add')" id="add">+</button>
  <button (click)="clickSymbol('sub')" id="subtract">-</button>
  <button (click)="clickSymbol('mult')" id="multiply">*</button>
  <button (click)="clickSymbol('divide')" id="divide">/</button>
  <button (click)="clickSymbol('open')" id="openBracket">(</button>
  <button (click)="clickSymbol('close')" id="closeBracket">)</button>
  <button (click)="clickSymbol('decimal')" id="decimal">.</button>
  <button (click)="clickSymbol('equals')" id="equals">=</button>
</div>
